<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% seo %}
		<link rel="stylesheet" href="/styles.css">
	</head>
	<body>
		<nav>
			<a href="/">Home</a></h1>
		</nav>
		<div class="content">{{ content }}</content>
		<footer>
			<hr />
			Made with ❤ on<br />
			<a href="https://www.gsmarena.com/samsung_galaxy_s10+-9535.php">Samsung Galaxy S10+</a><br />
			with<br />
			<a href="https://termux.dev">Termux</a> and <a href="https://www.debian.org">Debian</a>
		</footer>
	</body>
</html>
